/*body {
	background-color: green;
}*/
.name {
	
}

.price {
	
}

.department {
	
}

#container {
	background-color: #00ffff;
	color: blue;
	margin: 20px;
	padding: 10px;
	border: 2px red solid;
}

.shareLine {
	display: inline-block;
	 
}

.background {
	background-color: #00ced1;
	margin-left: 10px;
	color: red;
}

